.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl

src/coverage_html*/
src/coverage*dat
src/final.dat
src/final.info

__pycache__/
*~

UsbDeviceTop.v.gds_orig
